{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon Panier</h1>

    {% set totalCommande = 0 %}
    {% for cartProduct in cartProducts %}
        <article class="product">
            <h3>{{ cartProduct.product.name }}</h3>
            <p>Quantité: {{ cartProduct.quantity }}</p>
            <p>Prix unitaire: {{ cartProduct.product.price }} €</p>
            <p>Sous-total: {{ cartProduct.product.price * cartProduct.quantity }} €</p>
        </article>

        {% set totalCommande = totalCommande + (cartProduct.product.price * cartProduct.quantity) %}
    {% endfor %}

    <p>Total de la commande: {{ totalCommande }} €</p>
    <a href="{{ path('app_sales_order_new') }}">Payer</a>
</div>
{% endblock %}
