{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<nav class="navbar">
    <ul class= "navbar-list">
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('cart') }}">Mon Panier</a></li>
        <li><a href="">Mon Compte</a></li>
    </ul>
</nav>

<div class="example-wrapper">
    <h1>Mon Panier</h1>

    {% set totalCommande = 0 %}
    {% for cartProduct in cartProducts %}
        <article class="product">
            <h3>{{ cartProduct.product.name }}</h3>
            <p>Quantité: {{ cartProduct.quantity }}</p>
            <p>Prix unitaire: {{ cartProduct.product.price }} €</p>
            <p>Sous-total: {{ cartProduct.product.price * cartProduct.quantity }} €</p>
        </article>

        {% set totalCommande = totalCommande + (cartProduct.product.price * cartProduct.quantity) %}
    {% endfor %}

    <p>Total de la commande: {{ totalCommande }} €</p>
</div>
{% endblock %}
