{% extends 'base.html.twig' %}

{% block title %}OrderProduct index{% endblock %}

{% block body %}
    <h1>OrderProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_product in order_products %}
            <tr>
                <td>{{ order_product.quantity }}</td>
                <td>{{ order_product.total }}</td>
                <td>
                    <a href="{{ path('app_order_product_show', {'salesOrder': order_product.salesOrder}) }}">show</a>
                    <a href="{{ path('app_order_product_edit', {'salesOrder': order_product.salesOrder}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_product_new') }}">Create new</a>
{% endblock %}
