{% extends 'base.html.twig' %}

{% block title %}SalesOrder index{% endblock %}

{% block body %}
    <h1>SalesOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateOrder</th>
                <th>DateDelivery</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sales_order in sales_orders %}
            <tr>
                <td>{{ sales_order.id }}</td>
                <td>{{ sales_order.dateOrder ? sales_order.dateOrder|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sales_order.dateDelivery ? sales_order.dateDelivery|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sales_order_show', {'id': sales_order.id}) }}">show</a>
                    <a href="{{ path('app_sales_order_edit', {'id': sales_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
